@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_SecondMainLayout.cshtml";
}
@section Title
{
   About Us
}
@section Banner
{
    <br><br><div class="page-head">
    <div class="container">
        <h3>
            About Us
        </h3>
    </div>
</div>

    }


<div class="container">
    <div class="col-sm-12 men-wear-right">

        <div class="sort-grid">
            <h4>Overview</h4>
        </div>
        <p>
            Asia Lab is one of the best and most reliable Laboratory in providing diagnostic services. Asia Lab to have
            5 labs Fully Functional in different areas of Karachi.
            The company’s corporate office has facilities to carry out over 1000 different
            tests and panels in the disciplines of ECG, OPG, Ultrasound, X-RAY technology,
            & Laboratory utilizing the state of the art technology and equipment supported
            by our highly skilled personnel.
        </p>

        <p>
            Scientific Pathology provides top quality series to its customer and has internationally accepted external and internal
            quality assurance programs in place.We provide unmatched quality & services to our customers.
        </p>


        <br><br><div class="sort-grid">
            <h4>Journey So Far</h4>
        </div>
        <p>
            Asia Laboratory is a great visionary who wants to give the best to his patients. Till date, over the many years of long
            journey the motive of giving the best to his Patients. Today, Asia Laboratory is undoubtedly the largest lab for
            quality Test in Karachi.
        </p>


        <br><br><div class="sort-grid">
            <h4>Trust & Quality</h4>
        </div>
        <p>
            Many years of serving the healthcare industry, this is why our customers can trust us to act with independence,
            integrity and full respect for Asia Laboratory. Our ability to recruit highly educated members to our team has been
            a key factor to our success for decades. We provide our experts knowledge to match our patient<sup>’</sup>s needs.
        </p>

        <br><br><div class="coupons">
            <div class="container">
                <div class="coupons-grids text-center">
                    <div class="col-md-3 coupons-gd">

                    </div>
                    <div class="col-md-6 coupons-gd">
                        <h1 style="color: white"><strong>Quality Commitment</strong></h1>

                        <br><p style="color: white">
                            “Asia Laboratory is committed to follow good laboratory practices and medical ethics for providing
                            high quality, accurate, reliable and timely clinical investigations to ensure customer<sup>'</sup>s satisfaction.

                            We continually strive to improve the quality of our services by complying with International standards,
                            achieving the set objectives, providing regular training to our committed staff and purchase of latest technology
                            equipments.”
                        </p>
                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <br><br><div class="sort-grid">
            <h4>Testing Equipment:</h4>
        </div>
        <p>
            The laboratory is well equipped with modern analyzers / testing equipments incorporating specimen analyzing technologies
            which are accepted worldwide.

            To ensure proper functioning of the equipments in the laboratory, Asia Lab follows preventive maintenance as per defined
            schedules. Breakdown maintenance and calibration is taken care of by service engineers generally of original equipment
            suppliers. Reference monitoring and measurement instruments are calibrated from NABL accredited laboratory

        </p>



        <br><br><div class="sort-grid">
            <h4>Laboratory Information Services:</h4>
        </div>
        <p>
            Asia Laboratory is using reporting software for preparation of test report and storage of patient data.
            All our test result will directly go from machine to computer via a secure interfacing technology.
            This Technique gives a completely error less Patient’s Report.
        </p><br><br>
        </p><br><br>


    </div>
    <div class="clearfix"></div>
</div>

