@{
    ViewBag.Title = "faqs";
    Layout = "~/Views/Shared/_SecondMainLayout.cshtml";
}

@section Title
{
    Customer Care | FAQs
}
@section Banner
{
    <br><br><div class="page-head">
    <div class="container">
        <h3>FAQs</h3>
    </div>
</div>

}

<div class="single">
    <div class="container">
        <h2><strong>Questions & Answers</strong></h2><br><br>

        <div class="col-md-12 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay="20s" style="visibility: visible; animation-delay: 20s; animation-name: slideInRight;">

            <div class="description">
                <h4 style="color: #d12b32">Q. Do we require fasting for performing a Lipid Profile test ?</h4>

                <p>
                    Ans. Yes At least 12 hrs over night fasting is required for this test. While fasting the person can have any amount of plain water.
                </p>
            </div>
        </div>
        <div class="col-md-12 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay="20s" style="visibility: visible; animation-delay: 20s; animation-name: slideInRight;">

            <div class="description">
                <h4 style="color: #d12b32">Q. On which day of the menstrual cycle can the test for Anti Mullerian Hormone be done ?</h4>

                <p>Ans. Anti Mullerian Hormone test can be done on any day and at any time of the menstrual cycle.</p>
            </div>
        </div>

        <div class="col-md-12 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay="20s" style="visibility: visible; animation-delay: 20s; animation-name: slideInRight;">

            <div class="description">
                <h4 style="color: #d12b32">Q. How should one collect a urine sample?</h4>

                <p>
                    Ans. Urine sample should always be collected in the sterile clean container. Before collecting the sample, the patient has to clean the surrounding area (genitals). While passing the urine patient should discard the first part of the urine and collect the ensuing part. This sample is also called as Mid-stream urine sample not more than 2/3 of the urine container should be filled.
                    The container should be labeled properly and the cap tightly screwed to avoid leakage of the sample.
                </p>
            </div>
        </div>

        <div class="col-md-12 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay="20s" style="visibility: visible; animation-delay: 20s; animation-name: slideInRight;">

            <div class="description">
                <h4 style="color: #d12b32">Q. How to collect 24 hrs urine sample ?</h4>

                <p>Ans. Empty your bladder when you first get up in the morning. DISCARD this Urine. Record the time on the container.</p>

                <p>
                    - From That Time, Save All Urine Up To And Including The First Morning Specimen At The End Of The 24 Hours
                    ( Or Other Designated Time Period).
                </p>

                <p>
                    - During Collection And Until The Specimen Is Brought To The Laboratory, The Urine Container Should Be
                    Refrigerated Or Kept On Ice(In A Bucket).
                </p>
                <p>
                    - Record On The Urine Container, The Time The Last Part Of The Specimen Was Collected.
                </p>
                <p>
                    - Be Careful Not To Deposit Toilet Tissue In The Specimen Or Allow It To Become Contaminated With Fecal Material.
                </p>
                <p>
                    - If The Container Has A Preservative, (Orange Sticker Or Written), Handle The Container With Caution.
                    Specific Instructions Are Available On The Yellow Label, And/Or By Calling The Laboratory.
                </p>

                <p>
                    - Bring The Container With The Urine To The Laboratory As Soon As Possible. As A Part Of Some Tests,
                    A Blood Sample Must Also Be Collected. Check With The Laboratory To Verify That A Sample Is Not Needed.
                </p>

            </div>
        </div>
        <div class="col-md-12 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay="20s" style="visibility: visible; animation-delay: 20s; animation-name: slideInRight;">

            <div class="description">
                <h4 style="color: #d12b32">Q. How much time after lunch should one give his/her blood sample ?</h4>

                <p>
                    Ans. Patient must give his/her blood sample (for post lunch sugar test) 2hrs after finishing the lunch
                    (the time must be noted when patient start the lunch). The lunch should consist of routine meal which the patient
                    has regularly.
                </p>
            </div>
        </div>


        <div class="col-md-12 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay="20s" style="visibility: visible; animation-delay: 20s; animation-name: slideInRight;">

            <div class="description">
                <h4 style="color: #d12b32">Q. Why must we know our own blood group ?</h4>

                <p>
                    Ans. For all practical and routine purposes, it is ideal to transfuse to the patient the same group of blood which he/she belongs to. It is only under very dire emergencies that we take O group as universal donor and AB groups as universal recipient. Under no circumstances O group can get any other blood except O. Similarly A group patient cannot
                    be given B group blood and vice versa. So for donate blood or recovery blood transfusion right blood group must be known.
                </p>
            </div>
        </div>


        <div class="col-md-12 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay="20s" style="visibility: visible; animation-delay: 20s; animation-name: slideInRight;">

            <div class="description">
                <h4 style="color: #d12b32">Q. What does a Complete blood count test include?</h4>

                <p>
                    Ans. Complete Blood Count will tell us Hemoglobin, Red Blood Cell count, Red cell indices, Total White Blood Cell count,
                    and Differential count of White blood cells, Platelet count.
                </p>
            </div>
        </div>


        <div class="col-md-12 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay="20s" style="visibility: visible; animation-delay: 20s; animation-name: slideInRight;">

            <div class="description">
                <h4 style="color: #d12b32">Q. Do I have to come fasting for a Triple Marker test and what are the pre-requisites for the same ?</h4>

                <p>
                    Ans. No need to come fasting. Patient can give a blood sample at any time. But patient should give
                    us the following information:
                </p>

                <p>- Exact Date Of Birth Of Patient</p>

                <p>
                    - Weight In Kg
                </p>
                <p>
                    - Height In Cms
                </p>
                <p>
                    - Exact Date Of Last Menstrual Period
                </p>
                <p>
                    - Xerox Of Latest USG Report
                </p>
            </div>
        </div>


        <div class="col-md-12 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay="20s" style="visibility: visible; animation-delay: 20s; animation-name: slideInRight;">

            <div class="description">
                <h4 style="color: #d12b32">Q. What happens if the Hemoglobin is low ?</h4>

                <p>Ans. Low hemoglobin could be one of the causes of Anemia. Due to anemia patient might feel weak and may experience headache and fatigue.</p>
            </div>
        </div>

        <div class="col-md-12 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay="20s" style="visibility: visible; animation-delay: 20s; animation-name: slideInRight;">

            <div class="description">
                <h4 style="color: #d12b32">
                    Q. Whenever I get injured, the bleeding takes a long time to stop. Do I have to do any test for this? Is it abnormal?
                </h4>

                <p>Ans. Yes, it is necessary to consult the physician and get investigated for bleeding disorders as well as for liver diseases.</p>
            </div>
        </div>
        <div class="col-md-12 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay="20s" style="visibility: visible; animation-delay: 20s; animation-name: slideInRight;">

            <div class="description">
                <h4 style="color: #d12b32">Q. Why is regular health check up important?</h4>

                <p>
                    Ans. As we all know that PREVENTION IS BETTER THAN CURE. Regular health check up will help us to detect the disease in its early stage even before the onset of symptoms. This gives the patient a better chance for treatment and cure.
                </p>
            </div>
        </div>

    </div>
</div>
<!-- //single -->
