@{
    ViewBag.Title = "health";
    Layout = "~/Views/Shared/_SecondMainLayout.cshtml";
}

@section Title
{
    Customer Care | Health
}
@section Banner
{
   <br><br><div class="page-head">
    <div class="container">
        <h3>Health Tips</h3>
    </div>
</div>


}

<div class="single">
    <div class="container">
        <h2><strong>5 DIET AND FITNESS TIPS</strong></h2><br><br>
        <div class="col-md-12 single-right-left animated wow slideInUp animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: .6s; animation-name: slideInUp;">

            <div class="col-lg-4">
                <img src="~/assets/images/1.jpg" class="img-responsive" width="400px">
            </div>

            <div class="col-md-8 description">
                <h3> 1. Integrate Activity into Your Everyday Life</h3>

                <br><p>
                    Vigorous exercise is important. However, if your hectic schedule leaves you with no time to hit the gym, you can try integrating some activity in the course of the day for
                    increasing your productivity and staying fit.
                </p>

                <br><p>
                    - Take a walk when you are conversing on the phone.
                </p>
                <p>
                    - Instead of the lift, take the stairs.
                </p>
                <p>
                    - Take short breaks and step away from workstation.
                </p>
                <p>
                    - Workouts at home, such as sit-ups, push-ups, crunches, lunges and squats, keep you in shape.
                </p>

            </div>




            <div class="col-lg-4">	<img src="~/assets/images/eat-healthy.jpg" class="img-responsive" width="400px"></div>


            <div class="col-md-8  description">
                <h3>2. Eat healthy and on time</h3>

                <br><p>
                    Foods which are low in nutritional value and have too many calories can pose serious health problems, including weight gain, cardiovascular problems and diabetes. It is important
                    to stick to a healthy diet and a strict routine.
                </p>

                <br><p>
                    - Instead of starchy foods, choose wholegrain variants which contain more fibre and keep you feeling full.
                </p>
                <p>
                    - Feel like snacking in the middle of the day? stock up on nuts and
                    seeds or citrus fruits that are known to cure fatigue and stimulate alertness.
                </p>
                <p>
                    - To keep your energy up and your metabolism on overdrive, eat breakfast and smaller
                    meals throughout the day, rather than 3 big meals.
                </p>
                <p>
                    - Have sufficient liquids through the day to avoid dehydration.
                </p>

            </div>
            <br>
            <div class="col-lg-4"><img src="~/assets/images/Sleeping.jpg" class="img-responsive" width="400px"></div>


            <div class="col-md-8  description">
                <h3> 3. Sleep is Important</h3>

                <br><p>
                    Finding it difficult to get a good night’s sleep? Sleep deprivation can lead to fatigue, confusion, memory lapses and irritability.
                    To get a restful sleep:
                </p>

                <br><p>
                    - Create a sleep schedule and stick to it. Reading a book, listening to relaxing music,
                    or taking a warm shower can help in relaxing your body.
                </p>
                <p>
                    - Avoid watching TV or surfing on your mobile as this can interfere with your sleep.
                </p>
                <p>
                    - Pay attention to what you eat and drink. Going to bed hungry
                    or stuffing yourself too much can cause discomfort and keep you awake.
                </p>

            </div>
            <br>
            <div class="col-lg-4"><img src="~/assets/images/posture.jpg" class="img-responsive" width="400px"></div>


            <div class=" col-md-8 description">
                <h3> 5. Watch Your Posture</h3>

                <br><p>
                    Good posture is not just great for your back and neck, but also allows you to breathe properly and increases concentration
                    and thinking ability. To improve your posture:
                </p>

                <br><p>
                    - Get a good quality office chair, one with firm and dense cushioning and back support.
                </p>
                <p>
                    - Instead of resting your weight on a particular foot, plant both feet flat on the floor.
                </p>
                <p>
                    - Set a reminder to check your posture. This can be in the form of a post-it. Note,
                    an alarm on your phone or an Email reminder.
                </p>

            </div>

            <br><br>
            <div class="col-lg-4"><img src="~/assets/images/breath.jpg" class="img-responsive" width="400px"></div>


            <div class="col-md-8 description">
                <h3>4. Focus on Deep Breathing</h3>

                <br><p>
                    When you are trying to juggle multiple things at a time, you are bound to be stressed. Five to ten minutes of deep breathing can help in relaxing you and reducing anxiety.
                </p>

                <p>
                    You can also close your eyes and focus on relaxing and tensing each muscle group while taking deep, slow breaths. The best part about this is that you can do it any time,
                    at home, workplace or even on the road.
                </p>
            </div>

            <br>



        </div>
    </div>
</div>

<!-- //single -->
