@{
    ViewBag.Title = "wecare";
    Layout = "~/Views/Shared/_SecondMainLayout.cshtml";
}

@section Title
{
    Customer Care | We Care
}
@section Banner
{
   <br><br><div class="page-head">
    <div class="container">
        <h3>We Care</h3>
    </div>
</div>

}

<div class="single">

    <div class="col-md-12 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInRight;">
        <h2><strong>Our Customer Services</strong></h2>

        <div class="description">

            <p>
                Customer service is the act of taking care of the customer<sup>'</sup>s needs by providing and delivering professional,
                helpful, high quality service and assistance before, during and after the customer<sup>'</sup>s
                requirements are met. Customer service is meeting the needs and desires of any customer.
            </p><br>
            <p>
                Many hospital execise may not devote much thought to the customer service aspect of health care. But as patient
                satisfaction scores are given more weight in reimbursement, leaving a good impression on patients and their families is
                important.

            </p><br>
            <p>
                With the rise of the Internet and social media, today<sup>’</sup>s customers are more savvy with all their purchases
                and have higher expectations. Health care is no different, and
                if patients arenot happy with the level of customer service they receive from hospital staff, they won’t be quiet about it.
            </p><br>
            <p>

                Excellent customer service found in other industries has raised the bar for hospitals, Solomon said, so they must strive
                to meet the demands. Otherwise, they will experience
                consequences in the forms of negative PR, lowered reimbursement and a tarnished reputation among their patient base.
            </p><br>

            <p>
                Our commitment to providing quality service to our patients matches the caliber of care you expect to receive at
                Asia Laboratory. We offer an individualized approach
                to serving the unique needs of our patients – before, during and after your visit.
            </p>
            <p>
                <br>
                Our multilingual customer care co-ordinators in our Laboratory, provide 24-hour emergency hotline services to all our
                customers.
            </p><br>
            <p>
                Each year, we answer more than 65,000 calls.

                We have in-house dedicated team of Customer Care Officers.
                We have developed and continue to develop more our customer care services.
            </p><br><br>
        </div>



    </div>
    <div class="clearfix"> </div>


</div>

<!-- //single -->

